*.out
*.o
*.bin
*.elf
*.map
*.hex
*.pyc
/hclient.mk
Makefile
/dist.tgz
/toolchain
/toolchain.tgz
/toolchain.tbz
.project
.settings
.cproject
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/build
/build_1
/build_2
.gdb*
.ninja*
build.ninja
rules.ninja
*.a
gen/
